/* 
  COLORS
  #4fa8cd - blue
  #575756 - darkgrey
  #e5e5e5 - lightgrey

  GRID
  Extra small <576px
  Small >= 576px
  Medium >= 768px
  Large >= 992px

  Bootstrap Grid
  https://v4-alpha.getbootstrap.com/layout/overview/
 */

/* === GLOBAL === */
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  margin-bottom: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

.navbar {
  padding: .5rem 0;
}

img {
  max-width: 100%;
}

/* === HEADER === */

header .nav-item-wrap a {
  color: #fff!important;
  background-color: #4fa8cd;
  padding: 2px 0;
  margin-top: 5px;
}

header .navbar-brand img {
  max-width: 55%;
}

/* === SHOWCASE === */

#showcase {
  background-image: url(../images/01-home/home-header-large.jpg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#showcase .wrap {
  padding: 240px 0;
}

#showcase h1 {
  color: #fff;
}

#showcase a {
  color: #fff;
  border: 2px solid #fff;
  padding: 1% 5%;
  text-decoration: none;
}

#showcase a:hover {
  color: #eee;
  border: 2px solid #eee;
}

/* === LATEST OFFERS === */

#latest-offers {
  padding-top: 30px; 
}

#latest-offers h3 {
  padding: 20px 0; 
}

.latest-offers-sub-menu a {
  color: #fff;
  background-color: #575756; 
}

.latest-offers-sub-menu a:hover {
  color: #fff;
  background-color: #4fa8cd; 
}

.latest-offers-sub-menu li {
  margin-bottom: 2px;
}

.latest-offers-sub-menu .btn {
  width: 100%;
  margin-bottom: 20px;
}

.nav-link-bg a {
  background-color: #4fa8cd;
  cursor: default;
}

.card-block {
  background-color: #4fa8cd;
  padding: 5px 10px;

}

.card-block p {
  color: #fff;
}

/* === about-us === */

/* Creates a vertical nav starting at 768px (sm) */
@media (min-width: 992px) {
    .latest-offers-sub-menu .collapse {
        display: block;
    }
}